img {
    display: block !important;
    margin-left: 0 !important; /* 左对齐 */
    margin-right: auto !important;
    width: 600px !important; /* 修改为 600px */
}

.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto !important;
}
